.lin-logo-container {margin: 1.5rem 0;}
.lin-menu-container {background-color: #214da1;}

.lin-menu-container ul {}
.lin-menu-container li {border-right: 1px solid white; padding: 0.5rem 0;}
.lin-menu-container li:hover {background-color: #112650;}
.lin-menu-container a {color: white; font-size:0.85rem; font-weight: 500;}

.lin-chart-container {border: 1px solid #ccc; padding:2rem; margin: 2rem 0;}
